
.w-full {
    width: 100% !important;
}

.cursor-pointer {
    cursor: pointer;
}

.w-max-content {
    width: max-content;
}

.box-descuento {
    background-color: #B0E171;
    position: absolute;
    top: -6px;
    left: 14px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
}

.box-linea-exclusiva {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}

.background-img {
    background-image: url('./assets/banner-linea-exclusiva.png');
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px;
}

.fondo-slider {
    background-color: #2780e3;
}

.slick-prev {
    left: -20px;  
}

.slick-next {
    right: -20px;  
}



/* Responsive */

@media (max-width: 768px) {
    .background-img {
        background-position: bottom;
        align-items: flex-start;
    }
}

@media (max-width: 992px) {
    .fondo-slider {
        background-color: #ffffff;
    }
}

@media (min-width: 1200px) {
    .h-img-card{
        height: 400px;
    }
    
}